asn1crypto==0.24.0
certifi==2018.8.24
cffi
chardet==3.0.4
Click==7.0
cryptography
Flask==1.0.2
Flask-JWT-Extended==3.13.0
Flask-SQLAlchemy==2.1
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe
ndg-httpsclient==0.5.1
nltk==3.3
pusher==2.0.1
pyasn1==0.4.6
pycparser==2.19
PyJWT==1.6.4
pyOpenSSL==18.0.0
python-dotenv==0.8.2
requests==2.21
six
SQLAlchemy
textblob==0.15.1
urllib3==1.23
Werkzeug==0.14.1
